{% extends '::frontend.html.twig' %}

{% block title %}
{{ "deal.daily.title" | trans }}
{% endblock %}

{% block id 'portada' %}

{% block article %}
    {% include 'OfertaBundle:Default:includes/oferta.html.twig' %}
{% endblock %}

{% block aside %}
    ## FORMULARIO DE LOGIN ##

    <section id="nosotros">
        <h2>{{ "deal.daily.about.title" | trans }}</h2>
        <p>{{ "deal.daily.about.description" | trans }}</p>
    </section>
{% endblock %}
